.app {
  max-width: 80rem;
}

.content{
  display: flex;
}

.detail{
  flex: 1 1 70%;
  /* 같은 형태를 합쳐서 70%를 차지함 */
}

.list{
  flex: 1 1 30%;
}

@media screen and (max-width: 48rem) {
  /* 16px * 48 = 768 -> 최대크기가 768px까지 일때*/
  .content{
    flex-direction: column;
  }
}